
<h1 class="h1">Message <%= @conversation.recipient.username %></h1>

<% if @over_ten %>
<%= link_to "Show Previous", "?m=all", class: "btn btn-info" %>
<% end %>

<div class="well" id="chatbox" style="height: 250px; border: solid 1px #222222; overflow-y: scroll" >
<% @messages.each do |message|  %>
<% if message.body %>
<%  user = User.find(message.user_id) %>
<article>
<div><strong><%= user.username %></strong> <%= message.message_time %></div>
<div> <%= sanitize mark_down_to_html(message.body) %></div>
</article>
<% end %>
<% end %>
</div>

<%= form_for [@conversation, @message] do |f| %>
<div class="input-group mb-3">
  <%= f.text_area :body, class: "form-control" ,placeholder: "Inquire about a listing..." %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  </div>
  <div class="input-group-append">
 <%= f.submit "Send message", class:"btn btn-info" %>
 </div>
<% end %> 
