<p id="notice"><%= notice %></p>

<h1>Listings</h1>

  <div class="row row-cols-1 row-cols-md-4 g-4 mx-5">
  <% @listings.each do |listing|%>
      <div class="col mb-4">
        <div class="card h-100">
        <% if listing.picture.attached? %>
            <%= link_to (image_tag listing.picture, class: "card-img-top"), listing %>
        <% end %>
        <div class="card-body">
         <h4 class="card-title"><%= listing.title %></h4>
         <h5 class="card-text">$<%= listing.price %></h5>
        <%= link_to "See more", listing_path(listing.id), class: "btn btn-info text-white" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

        <%# if current_user && current_user.id == @listing.user_id 
       link_to 'Edit', edit_listing_path(listing) 
         link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }  %>
         
<%= link_to 'New Listing', new_listing_path, class: "btn btn-info" %>
