<div class="mx-auto" style="width: 80em;">
<p id="notice"><%= notice %></p>

  <div class="mx-5 mb-4 mt-4">
<h1>Listings</h1>

<%= search_form_for @q do |f| %>
      <%= f.label :title_cont %>
      <%= f.search_field :title_cont, placeholder: "Search for..", class:"form-control mb-2", style:"width: 30em;" %>
      <%= f.label :category_id_eq %>
      <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, "id", "name", @q.category_id_eq), class:"dropdown show"%>
      <%= f.submit class: "btn btn-secondary mr-2" %>
      <%= link_to "Clear", request.path, class: "btn btn-outline-secondary" %>
    <% end %>
</div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mx-5">
  <% @listings.each do |listing|%>
      <div class="col mb-4">
        <div class="card h-100">
        <% if listing.picture.attached? %>
            <%= link_to (image_tag listing.picture, class: "card-img-top"), listing %>
        <% end %>
        <div class="card-body">
         <h4 class="card-title"><%= listing.title %></h4>
         <span class="badge badge-pill badge-secondary">Category: <%= listing.category.name %></span>
         <span class="badge badge-pill badge-secondary">Condition: <%= listing.condition.titleize %></span>
          <p class="blockquote mt-2">$<%= listing.price %></p>
        <p class="blockquote mt-2"><%= link_to "See more", listing_path(listing.id), class: "btn btn-info text-white" %></p>
        </div>
      </div>
    </div>
     <% end %>
  </div>

        <%# if current_user && current_user.id == @listing.user_id 
       link_to 'Edit', edit_listing_path(listing) 
         link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }  %>
         
<%= link_to 'New Listing', new_listing_path, class: "btn btn-info" %>

</div>
