<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
  <div class="content col-12 col-md-6 col-lg-7 p-0 pr-md-3">
<% if @listing.picture.attached? %>
<%= image_tag @listing.picture, class:'thumbnail card-img top' %>
<% end %>
</div>


  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">

<h2 class="mb-sm-2 mb-md-5"><%= @listing.title %></h2>

<p class="blockquote mt-2">Description: <%= @listing.description%></p>
<p class="blockquote mt-2">Price: $<%= @listing.price %></p>
<p class="blockquote mt-2">Category: <%= @listing.category.name %></p>
<p class="blockquote mt-2"> Listed By: <%= @listing.user.username %> </p>

<% if can? :read, @listing %>
    <% if cannot? :manage, @listing %>
        <% if @listing.sold == false %>
          <%= button_to "Add to Watchlist", create_watched_listing_path(watched_listing_id: @listing.id, watcher_id: current_user.id ) %>
          <p class="blockquote mt-2"><button data-stripe="payment" class="btn btn-info">Buy Now!</button></p>
<% else %>
    <button type="button" class="btn btn-secondary" disabled>Listing Sold</button>
    <% end %>
  <% end %>
<% end %>

<% if can? :manage, @listing %>  
  <%=link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning p-3 m-1"%>
  <%=link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} , class: "btn btn-danger p-3 m-1 text-white" %>
<% end %>

<p class="blockquote mt-2"><%= link_to 'All Listings', listings_path, class: "btn btn-info"  %></p>

</div>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script>
document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
  const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key)%>");
  stripe.redirectToCheckout({
    sessionId: "<%= @session_id %>"
  });
});
</script>
