<section class="container d-flex flex-column flex-md-row px-2 my-2 my-md-5">
  <div class="content col-12 col-md-6 col-lg-7 p-0 pr-md-3">
<% if @listing.picture.attached? %>
<%= image_tag @listing.picture, class:'thumbnail card-img top' %>
<% end %>
</div>


  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">

<h2 class="mb-sm-2 mb-md-5"><%= @listing.title %></h2>

<p class="blockquote mt-2">Description: <%= @listing.description%></p>
<p class="blockquote mt-2">Price: $<%= @listing.price %></p>
<p class="blockquote mt-2">Category: <%= @listing.category.name %></p>
<p class="blockquote mt-2"> Listed By: <%= @listing.user.username %> </p>
<% if user_signed_in? %>
      <button data-stripe="payment" class="btn btn-info">Buy Now!</button>
    <% end %>



<% if current_user.id == @listing.user_id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
</div>
</section>

<script src="https://js.stripe.com/v3/"></script>
<script>
document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
  const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key)%>");
  stripe.redirectToCheckout({
    sessionId: "<%= @session_id %>"
  });
});
</script>
